.card{
  overflow: hidden;
  cursor: pointer;
}
.card:hover{
  box-shadow: 1px 1px 0px 1px black;
}
.images{
  transition: 0.5s;
}
.images:hover{
  transform: scale(1.1);
}
.description{
  margin-bottom: 0px;
}
.price{
  margin-top: 2px;
  margin-bottom: 0px;
}